A:link {text-decoration:none; color:#84521a; }
A:visited {text-decoration:none; color:#84521a; }
A:active {text-decoration:none; color:#84521a; }
A:hover {text-decoration:underline; color:#a05705; }

#mavisouterdiv { font-size:large; 
  font-family: "Open Sans", "Verdana", "Arial", "Helvetica", sans-serif; }
#maviscontentdiv { position:relative; }
#mavisheadingdiv {}
#mavisnamesdiv { position:absolute; left:0px; top:0px; padding:0px 10px; 
  background-image:url('../img/bleachscrub.png'); border-radius:10px; 
  border:1px solid #999;}
.mavispath {}
.mavislabel { font-size:small; stroke:#999; }
